@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto:wght@400;900&display=swap');


*{
     font-family: 'Barlow', sans-serif; 
}

body {
    margin: 0;
    background-color: gray;
    color: white;
    text-align: center;
}

header {
    padding-top: 10px;
}

h1,h2 {
    font-family: 'Roboto', sans-serif;
    /* text-align: center; */
}

h2 {
    margin-bottom: 40px;
}

/* .menu {
    text-align: center;
} */

a {
    text-decoration: none;
    color: white; 
}

a:hover {
    color: orangered;
}

.container {
    /* text-align: center; */
    padding-top: 20px;
}

img {
    width : 600px;
    height: 400px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}


th, td {
    border: 2px solid white;
    padding: 5px;
}

footer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

